.item:hover {
    background-color: #afcfff;
    font-size: large;
}

.menu{
    color: black;
}

.item:hover .menu{
    color: white;
    font-weight: bolder; 
}

.background{
    background-color: blue;
    background-image: url("../assets/banner.png");
    background-size: cover;
    height: 300px;
}

.fixed{
    position: fixed;
    width: 20%;
    z-index: 100;
}

.mt-6{
    margin-top: 4rem;
}

.pl-6{
    padding-left: 6rem;
}

.pl-8{
    padding-left: 18%;
}

.mr-2{
    padding-right: 2rem;
}

.mr-4{
    padding-right: 9rem;
}

.menu{

    display: none;
}

.without-menu{
    /* border: 2px solid black; */
    overflow-x: hidden;
    transition: 0.3s;
    width: 220px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    z-index: 2;
    list-style-type: none;
}

.change{
    margin-left: 180px;
}

